body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}


*, *:before, *:after {
    box-sizing: border-box;
}


ul, li {
    list-style: none;
}


h1,h2,h3,h4,h5,h6 {
    margin: 0;
}


p {
  margin: 0 0 10px;
}


.header {
    background: #345c5a url(../img/about.jpg) no-repeat center top;
    background-size: cover;
    min-height: 848px;
    overflow: hidden;
}


.contaner {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}


.header__nav-row {
    padding-top: 80px;
}


.header__logo {
    margin-bottom: 50px;
    font-size: 70px;
    line-height: 1.8;
    color: #fff;
    text-align: center;
    font-family: "Brush Script MT";
}


.header__nav {
     margin-bottom: 75px;
     display: flex;
     justify-content: center;
}


.header__nav-link {
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    transition: 0.10s linear;
    margin-right: 50px;
    text-decoration: none;
}


.header__nav-link:hover, .header__nav-link--active {
    color: royalblue;
}

.header__nav-link:last-child {
    margin-right: 0;
}

.header__center {
     text-align: center;
     padding-bottom: 200px;
     max-width: 100%;
}


.header__title {
    margin-bottom: 40px;
    font-size: 71px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.1;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}


.header__text {
    margin-bottom: 120px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.4;
    text-align: center;
}


.header__text:before,
.header__text:after {
    content: "";
    display: inline-block;
    width: 134px;
    margin: 0px 35px;
    border: 1.5px solid #576a6f;
    vertical-align: middle;
    box-sizing: border-box;
}


 .header__btn {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    height: 50px;
    color: #f5f5f5;
    text-align: center;
    border-radius: 50px;
    padding: 20px 60px 45px;
    transition: 0.20s linear;
    text-decoration: none;
}


 .header__btn--row {
    background-color: #50c3af;
}


.header__btn--row:hover {
    color: darkcyan;
}


.services {
    background-color: #eeeeef;
}


.services__row-hed {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}


.services__row {
    max-width: 100%;
    margin: auto 30px;
}


.services__image {
    max-width: 100%;
    text-align: center;
    margin-bottom: 40px;
}


img.icon-1 {
    width: 60px;
    max-width: 100%;
}

img.icon-2 {
    width: 47px;
    max-width: 100%;
}

img.icon-3 {
    width: 41px;
    max-width: 100%;
}


.services__title  {
    margin-bottom: 50px;
    color: #40474e;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}


.services__text {
    color: #787b80;
    font-weight: 400;
    font-size: 18.7px;
    line-height: 1.7;
    text-align: center;
}


.about {
    background-color: #eeeeef;
}


.about__column-top {
    display: flex;
    justify-content: center;
    padding-top: 170px;
}


.about__column {
    max-width: 100%;
    margin: auto 50px;
}


.about__image {
    transition: 0.10s linear;
    cursor: pointer;
    width: 352px;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin-bottom: 40px;
}


.about__image:hover {
    opacity: 0.50;
}


.about__title {
    line-height: 24px;
    text-transform: uppercase;
    font-size: 24px;
    color: #40474e;
    margin-bottom: 60px;
}

.about__text {
    color: #787b80;
    font-size: 18.7px;
    line-height: 1.7;
    font-weight: normal;
    margin-bottom: 45px;
}


.about__btn {
    display: inline-block;
    padding: 10px 30px 40px;
    height: 35px;
    font-weight: 700;
    color: #f5f5f5;
    font-size: 20px;
    line-height: 24px;
    background-color: #50c3af;
    border-radius: 50px;
    text-align: center;
    transition: 0.20s linear;
    text-decoration: none;
}

.about__btn:hover {
    color: darkcyan;
}


.content {
    background-color: #eeeeef;
}


.content__inner {
    padding-top: 150px;
    width: 100%;
}


.content__title {
    margin: auto 290px;
    font-size: 24px;
    color: #40474e;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4;
    margin-bottom: 40px;
}


.content__image {
    position: relative;
    width: 40px;
    top: 8px;
    right: 10px;
}


.content__text {
    display: flex;
    justify-content: center;
    font-size: 18.7px;
    font-weight: 500;
    color: #787b80;
    line-height: 1.7;
    max-width: 100%;
}


.gallerey {
    background-color: #eeeeef;
}

.gallerey__bot {
    display: flex;
    justify-content: center;
    padding-top: 190px;
}


.gallerey__photo {
    max-width: 100%;
    margin: auto 20px;
}


.gallerey__image {
   object-fit: cover;
   object-position: center;
   width: 242px;
   height: auto;
   margin-bottom: 40px;
   cursor: pointer;
   transform: scale(1);
   transition: all 0.50s;

}

.gallerey__image:hover {
    transform: scale(1.1);
}


.gallerey__title {
   margin-bottom: 45px;
   color: #40474e;
   font-size: 21px;
   text-transform: uppercase;
}

.gallerey__text {
    margin-bottom: 30px;
    color: #787b80;
    font-size: 18.7px;
    line-height: 1.7;
}


.gallerey__tait {
   color: #6ecab9;
   font-size: 18.7px;
}


.wrrap {
   background-color: #eeeeef;
}


.wrrap__status-info {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.wrrap__status {
     max-width: 100%;
     margin: auto 80px;
}


.wrrap__title {
    font-weight: 600;
    color: #40474e;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.wrrap__image {
    width: 40px;
    top: 10px;
    right: 10px;
    position: relative;
}

.wrrap__text {
    color: #787b80;
    font-size: 18.7px;
    line-height: 1.7;
    margin-bottom: 45px;
}


.wrrap__btn  {
    display: inline-block;
    padding: 10px 30px 40px;
    height: 35px;
    font-weight: 700;
    color: #f5f5f5;
    font-size: 20px;
    line-height: 24px;
    background-color: #50c3af;
    border-radius: 50px;
    text-align: center;
    transition: 0.20s linear;
    text-decoration: none;
}


.wrrap__btn:hover {
    color: darkcyan;
}


.ittem {
    background-color: #eeeeef;
}

.ittem__top-word {
    display: flex;
    justify-content: center;
    padding-top: 180px;
}


.ittem__top {
    max-width: 100%;
    margin: auto 35px;
}


.ittem__top {
    position:relative;
    height: 400px;
    width: 400px;
    display: block;
}


.ittem__top img {
    position: absolute;
    right: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    width: 365px;
    height: auto;
    cursor: pointer;
    transition: 0.50s linear;
}

.ittem__top img.ittem__photo-1 {
    opacity: 0;
}

.ittem__top img.ittem__photo-1:hover {
    opacity: 1;
}


.ittem__title {
    font-weight: 600;
    color: #40474e;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.ittem__text {
    color: #787b80;
    font-size: 18.7px;
    line-height: 1.7;
}


.prom {
    background-color: #50c3af;
}


.prom__block {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}


.prom__icon {
    position: relative;
    top: 0px;
    right: 5px;
    width: 22px;
}

.prom__icon::before {
    content: '';
    display: block;
    position: absolute;
    width: 332px;
    top: 30px;
    top: 45px;
    border: 1.5px solid #61c8b6;
}


.prom__title {
    margin-bottom: 70px;
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
    font-weight: 700px;
    text-transform: uppercase;
}


.prom__progi {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}


.prom__inner  {
    max-width: 100%;
    color: #cbede7;
    font-size: 34.6px;
    margin: auto 50px;
    line-height: 1.8;
}

.prom__inner:last-child {
    margin-right: 0;
}


.footer {
    background-color: #eeeeef;
}


.footer__bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
}


.footer__text {
    margin-left: 70px;
    font-size: 17.5px;
    color: #787b80;
    max-width: 100%;
}


.footer--tait  {
    color: #aaacaf;
    text-decoration: none;
}

.footer--tait:hover {
    text-decoration: underline;
}


.footer__social {
    margin-right: 40px;
}


.footer__social a {
    transition: 0.10s linear;
    color: #b5b7b9;
    font-size: 20px;
    margin: auto 10px;
}

.footer__social:last-child {
    margin-right: 0;
}

.footer__social a:hover {
    opacity: 0.80;
}

 .footer__text p:last-child {
    margin: 0;
}







